.covid-btn{
  padding: 14px;
  min-width: 330px;
  font-weight: bold;
  &:hover{opacity: 0.7}
  &--start{
    color: #00044B;
    background-color: #BADAFB;
  }
  &--cancel{
    border: solid 2px #BADAFB;
    color: #BADAFB;
    &:hover{color: #BADAFB;};
  }
}
